.Pets {
    background-color: aquamarine;
}
.About-Dogs {
    background-color: lightyellow;
}
.UWM {
    background-color: lightgray;
}
.About-uwm {
    background-color: lightpink;
}
.UWM-Academics {
    background-color: lightcyan;
}
.UWM-Research {
    background-color: lightgoldenrodyellow;
}
.UWM-Entrepreneurship {
    background-color: lavender;
}
.UWM-Extras {
    background-color: lightcoral;
}